<% if logged_in? %>
  <h1> Welcome to Cookbook <%= @user.username %>, </h1>
  <h3> A social app designed to share recipes! </h3>
<% else %>
  <h1> Welcome to the Rails Cookbook App! </h1>
<% end %>

<% if current_user %>
<% @user.recipes.order(created_at: :desc).limit(5).each do |recipe|%>
    <li><%= recipe.name  %></li>
  <% end %>
<% end %>
  <%#live coding project review%>
