<h1><%= @category.name %> -
<% if @category.recipes.count > 1 %>
  <%= pluralize(@category.recipes.count, "recipes") %>
<% else %>
  <%= @category.recipes.count %> recipe
<% end %></h1>


<ol>
    <% @category.recipes.each do |recipe| %>
      <li><%= link_to recipe.name, recipe_path(recipe)  %></li>
    <% end  %>
</ol>